<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title
    body
        //- header.header
        //-     .container--custom
        //-         .header__top.row
        //-             .header__login
        //-                 span.login__span.login__span--icon Login
        //-                 span.login__span.login__span--underline Members
        //-             .header__social
        //-                 ul.social__list
        //-                     li.list__item
        //-                         i.item__icon.item__icon--facebook
        //-                         i.item__icon.item__icon--linkedin
        //-                         i.item__icon.item__icon--instagram
        //-                 button.social__search
        //-         .header__bottom.row
        main
            section.hero
                .container--custom
                    .row
                        .hero__left.col-xl-6.col-12
                        .hero__right.col-xl-6.col-12
                            h2.hero__heading Would you like a wellbeing program that delivers?
                            h3.hero__subheading Educators working at a “peak” state – 
                                b positive, happier, even healthier.
                            span.hero__span Image what that would be like.
                            span.hero__subtext (Go ahead and picture it. We’ll wait…)

            section.promo
                .container--custom
                    h3.promo__subheading.promo__subheading--uppercase Toni Powell's groundbreaking
                    h2.promo__heading Happy Healthy Educators Program
                    .row
                        .col-xl-6.col-12.promo__left.p-0
                            p.promo__paragraph ...is a slightly cheeky online series that offers a fresh, fun way "to do" better at Life - every aspect, both personally and professionally.
                            p.promo__paragraph No, we’re not talking about some “winning-the-lottery / drinking-cocktails-on-a-beach” state of mind. This is BRAIN SCIENCE, proven skills that positively transform how we operate in the world.
                            p.promo__paragraph Learning these skills pays off in enormous dividends: improved morale, more resilience, way less gossip and complaining.
                            p.promo__paragraph Again, imagine how drastically that could positively impact your school culture?
                                span.promo__span (#nomorewhining)
                        .col-xl-6.col-12.promo__right.pr-0
                            iframe(width="512px" height="288px" src="https://player.vimeo.com/video/479715462").promo__iframe

            section.sponsors
                .container--custom
                    ul.sponsors__slider
                        li.slider__item
                            img(src="../assets/images/logos_monash.png" alt="Monash University").item__image
                        li.slider__item
                            img(src="../assets/images/logos_geelong.png" alt="Geelong Grammar School").item__image
                        li.slider__item
                            img(src="../assets/images/logos_victoria_unive.png" alt="Victoria University").item__image
                        li.slider__item
                            img(src="../assets/images/logos_queensland_gov.png" alt="Queensland Government").item__image

            section.promo
                .container--custom
                    h2.promo__heading.promo__heading--small Happy Healthy Educators Program
                    h3.promo__subheading.promo__heading--small is so much more than a professional development course.
                    .row
                        .promo__left.col-xl-6.col-12.p-0
                            p.promo__paragraph These bite-sized, super-simple online videos are designed with educators in mind. They’re rooted in science, psychology, real-life experience – and a big splash of humor.
                            p.promo__paragraph Staff watch at their own pace, at school or home. With each video, they strengthen their very best assets, find new ways to approach problems – and that fuels better performance.
                            p.promo__paragraph
                                span.promo__span PS: 
                                | These are perfect for staff meetings! Plus, Toni can tailor the program to your needs, from individual participation to a coached leadership team experience. 
                        .promo__right.col-xl-6.col-12.pr-0
                            iframe(width="512px" height="288px" src="https://player.vimeo.com/video/479715462").promo__iframe